@font-face {
  font-family: FIFA_World_Cup_2018;
  src: url('../fonts/Dusha_-_FIFA_World_Cup_2018.ttf');
}

body{
	width: 100%;
	margin:0;
	padding: 0;
	font-family: FIFA_World_Cup_2018;
}

header{
	background: #0f3f79;
	color: #ffffff;
}

h1, h2{
	text-align: center;
}

#logo{
	position: relative;
	float: left;
	left: 50px;
}

.navbar-collapse>ul>li{
	text-align: center;
}

div#start1, div#start2{
	background-image: url('../images/stadium.jpg');
	background-repeat: no-repeat;
	/*min-height: 780px;*/
	background-size: cover;
}

form#login, form#logout{
	width: 50%;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 15%;
	padding: 12%;
	background-color: #000;
	color: #FFF !important;
	opacity: 0.8;
}

div.secondContainer{
	min-height: 7
}

form{
	color:#000;
}

.dpn{
	display: none;
}

.beenden{
	background: #fff;
	color: #000;
}

/**/

.leftflags{
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}
.rightflags{
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.flags{
	width: 24px;
	height: 16px;
	float: left;

}

.flag{
	width: 24px;
	height: 16px;
	margin-top: -5px;
}

#groupId{
	font-family: FIFA_World_Cup_2018;
	font-size: 18px;
	text-align: center;
	padding: 5px 0;
}

.nav-link.active.show, .nav-link.active{
	background-color: #efefef;
}

caption{
	text-align: center;
}

input{
	text-align: center;
}

input[type="number"].form-control {
	width: 100px !important;
}

td.tor{
	width: 100px;
}

form label {
	display: block;
	text-align: center;
}

/*form .btn {
	display: block;
	width: 100px;
	margin: 0 auto;
}*/